<h1>商品一覧</h1>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th>price</th>
      <th>description</th>
      <th>maker_name</th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |p|%>
    <tr>
      <th><%= p.name %></th>
      <th><%= p.price %></th>
      <th><%= p.description %></th>
      <th><%= p.maker_name %></th>
    </tr>
  <% end %>
  </tbody>
</table>
